@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
    --clr-primary-bright-orange: hsl(31, 77%, 52%);
    --clr-primary-dark-cyan: hsl(184, 100%, 22%);
    --clr-praimary-very-dark-cyan: hsl(179, 100%, 13%);

    --clr-neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
    --clr-neutral-very-light-gray: hsl(0, 0%, 95%);

    --ff-primary: Lexend Deca, sans-serif;
    --ff-header: Big Shoulders Display, sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    background: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}


body,
ul,
ol,
dl {
    margin: 0;
}

img {
    border: none;
    width: 5vw;
    height: auto;
    margin-bottom: 2rem;
}

body {
    background-color: var(--clr-neutral-transparent-white);
    flex-direction: column;
}

.large-container {
    width: 62.5vw;
    height: 62.5vh;
    display: flex;
    flex-direction: row;
    background-color: var(--clr-primary-bright-orange);
    border-radius: .5rem;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    padding: 5rem;
}

h1 {
    font-family: var(--ff-header);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5vw;
    letter-spacing: 0px;
    color: white;
}

p {
    font-family: var(--ff-primary);
    line-height: 1.6;
    color: var(--clr-neutral-transparent-white);
    font-size: 1vw;
    flex-grow: 1;
}

.suvs-card {
    background-color: var(--clr-primary-dark-cyan);
}

.btn-learn-suvs {
    color: var(--clr-primary-dark-cyan);
}

.btn-learn-sedans {
    color: var(--clr-primary-bright-orange);
}

.btn-learn-luxury {
    color: var(--clr-praimary-very-dark-cyan);
}

.luxury-card {
    background-color: var(--clr-praimary-very-dark-cyan);
}

.btn-learn {
    text-decoration: none;
    background-color: white;
    border: none;
    text-align: center;
    border-radius: 4rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    transition: 200ms ease-in-out;
    align-self: flex-start;
    font-size: 1vw;
    margin-top: auto;
    margin-bottom: 2rem;
    margin-left: 1rem;
    border: 4px solid white;
}

.btn-learn:hover {
    border: 4px solid white;
    background-color: transparent;
    color: white;

}


@media (max-width: 1226px) {
    .large-container {
        flex-direction: column;
    }
}